.wrapper_for_list {
    border-bottom: 2px solid #f4f4f6;
    border-left: 3px solid #f4f4f6;
    border-right: 3px solid #f4f4f6;
    padding-bottom: 5px;
}

.list_of_countries {
    margin: 0 auto;
    width: 98%;
    height: 405px;
    overflow-y: scroll;
    padding: 10px;
}

.select_country {
    background-color: #edf4ff;
    color: #3C71FF;
}

/* Scroll */

.list_of_countries::-webkit-scrollbar {
    border-radius: 20px;
    margin-right: 4px;
    width: 4px;
    background-color: #eff1f2;
}

.list_of_countries::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d2d7dd;
}

.list_of_countries::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eff1f2;
}
